
@font-face {
    font-family: 'PoetsenOne';
    src: local('PoetsenOne'), url('./PoetsenOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./Roboto-Regular.ttf') format('truetype');
}