/* CSS Base para Desktop */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 2%;
}

.light-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title-page {
  font-family: "PoetsenOne", sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.ui.button {
  background-color: var(--azul-normal);
  color: var(--azul-branquelo);
  font-family: "Poppins";
  font-weight: 500;
}

.ui.button:hover {
  background-color: var(--azul-claro);
}

/* Responsividade para o iPhone 14 Pro Max (largura: 430px, altura: 932px) */
@media (max-width: 430px) {
  .container {
    padding: 0;
  }

  /* Organizando os elementos da página em uma coluna */
  .ui.grid {
    display: flex;
    flex-direction: column;
  }

  .ui.grid .column {
    width: 100% !important;
    padding: 0 !important;
  }

  /* Ajustando margens e espaçamentos */
  .light-shadow {
    padding: 20px 10px;
    margin: 0;
    border-radius: 5px;
  }

  .title-page {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  /* Diminuindo o botão */
  .ui.button {
    font-size: 1em;
    padding: 10px 15px;
    width: 100%;
  }

  /* Caixa de seleção */
  select.pesquisa-curso {
    width: 100%;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
  }

  /* Período e Disciplinas */
  .periodo-button,
  .disciplina-button {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
  }

  /* Input de pergunta */
  textarea {
    width: 100%;
    font-size: 1em;
    padding: 10px;
  }

  /* Perguntas listadas */
  .pergunta {
    padding: 10px;
    font-size: 0.9em;
  }

  /* Ajuste do modal para caber melhor em telas menores */
  .ui.modal {
    width: 90% !important;
    height: auto !important;
    border-radius: 10px !important;
  }

  /* Estilo do modal */
  .ui.modal .content {
    padding: 10px;
  }

  .ui.modal .header {
    font-size: 1.5em;
    text-align: center;
  }

  /* Botão Perguntar dentro do modal */
  .ui.modal .actions .ui.button {
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
  }
}
