.card-icon {
    border-radius: 6px;
    width: 40px;
    height: 40px;
    border: 1px solid #00C9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--bg-dark-blue);
    color: white;
    font-family: 'Poppins';
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }

  .card-icon-image {
    width: 25px;
  }